<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

</head>

<body>
    <form method="post" action="/post_user">
        <label>Username:</label>
        <input id="username" name="username" type="text" />
        <label>Email:</label>
        <input id="email" name="email" type="text" />
        <input type="submit" />
    </form>
    
</body>
</html>